body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
  max-width: 100%;
  max-height: 100%;
}

/* optional: disable zooming on mobile devices */
@viewport {
    zoom: 1.0 !important;
    user-zoom: fixed !important;
    max-zoom: 1.0 !important;
    min-zoom: 1.0 !important;
  }

.background-img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    display: block;
    position: absolute;
    z-index: -1;
}

.letter-container {
    position: relative;
    width: 380px;
    height: 600px;
    margin: auto;
    display: flex;
    background-image: url("../img/5054c8b0d8d2a35cfa61c4f0a00cdf35.jpg");
    background-size: cover; /* 배경 이미지를 화면에 맞게 조절 */
    background-position: center; /* 배경 이미지를 가운데 정렬 */
}

.letter-content {
    text-align: center;
    color: white;
}

.recipient-name {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 10px;
}

.sender-name {
    font-weight: bold;
}

.recipient-name {
    position: absolute;
    top: 20px;
    left: 17px;
    color: black;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 15px; /* 적절한 크기로 조절하세요 */
}

#letter-content {
    position: absolute;
    top: 40px; /* recipient-name 아래에 위치하도록 조절 */
    left: 8px;
    right: 8px;
    color: black;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 10px; /* 적절한 크기로 조절하세요 */
    text-decoration: underline;
    text-decoration-color: rgb(211, 212, 191);
    line-height: 30px; /* 글자와 글자 사이의 위 아래 여백 조절 */
}

.sender-name {
    position: absolute;
    bottom: 20px;
    right: 20px;
    color: black;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 14px; /* 적절한 크기로 조절하세요 */
    line-height: 20px; /* 적절한 크기로 조절하세요 */
}


@media (max-width: 600px) {
    .letter-container {
        width: 300px;
        height: 500px;
    }
}